:root {
    /* Colors */
    --primary-color: #AEB3CE; /* purple */
    --primary-color-highlight: #A1A7C7;
    --secondary-color: #E8E8E8; /* light gray */
    --secondary-color-highlight: #F2F2F2;
    --tertiary-color: #ffffff; /* white */
    --quarternary-color: #747474; /* dark gray */

    /* Fonts */
    --font-primary: "Courier New", monospace; /* For titles */
    --font-secondary: "Open Sans", sans-serif;

    /* Margin */
    --horizontal-margin: 150px;

    /* Navigation Bar Height */
    --navbar-height: 60px;
}

body {
    padding: 0px;
    margin: 0;
    background-color: var(--secondary-color);
    font-family: var(--font-secondary);
}

/* SHARED COMPONENTS  */

.text {
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: var(--font-secondary);
}

.button {
    padding: 5px 20px;
    border-radius: 5px;
}

.button, .text {
    height: 20px;
    width: auto;
    margin: 2px;
    white-space: nowrap;
}

.button:hover, .pill-icon {
    cursor: pointer;
}

.primary-button, .confirm-button {
    background-color: var(--primary-color);
    color: var(--tertiary-color)
}

.primary-button:hover, .confirm-button:hover {
    background-color: var(--primary-color-highlight);
    cursor: pointer;
}

.secondary-button, .pill {
    background-color: var(--tertiary-color);
    color: var(--quarternary-color);
}

.secondary-button:hover {
    background-color: var(--secondary-color-highlight);
}

.pill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 2px;
}

.pill-icon {
    height: 15px;
    width: auto;
    margin-left: 10px;
}

.confirm-button {
    text-align: center;
    padding: 5px 60px;
}

.confirm-button, .select {
    margin: 5px;
    width: 400px;
    border-radius: 5px;
    box-sizing: border-box;
}

.select {
    padding: 5px;
    text-align: left;
    font: var(--font-secondary);
    appearance: none;
    border: none;
}

.select:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

/* NAVIGATION BAR */
.navbar {
    background-color: var(--primary-color);
}

.navbar-elements {
    margin: 0 var(--horizontal-margin);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.navbar-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-name {
    font-family: var(--font-primary);
    font-size: 2rem;
    padding: 0 10px 0 0;
}

.navbar .navbar-heading img {
    height: 30px;
    width: auto;
}

.navbar-links {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    gap: 0rem;
    height: 100%;
    white-space: nowrap;
}

.navbar-links li {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
.navbar-links li:hover {
    background-color: var(--primary-color-highlight);
    cursor: pointer;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

/* MULTIPLE PAGES */
.database, .import, .templates, .auxiliary-content, .database-auxiliary-content {
    margin: 0 var(--horizontal-margin);
}

/* AUXILIARY PAGES */

.auxiliary {
    position: relative;
}

.auxiliary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color-highlight);
    min-height: calc(100vh - var(--navbar-height));
}

.auxiliary h1 { 
    margin: 0;
    font-family: var(--font-primary);
    color: var(--quarternary-color);
    font-size: 3rem;
    font-weight: 300;
}

.back-icon {
    width: 35px;
    height: auto;
    display: block;
    background-size: cover; 
    position: absolute;
    top: 5px;
    left: 5px;
}

/* DATABASE PAGE */

.database-controls {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.database-controls-left{
    display: flex;
    justify-content: left;
}

.database-controls-right{
    display: flex;
    justify-content: right;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
}

.search-icon {
    height: 15px;
    width: auto;
    margin: 0 2.5px;
}

.database-divider {
    height: 10px;
    width: 100%;
    background-color: var(--tertiary-color);
}

.database-table-container { 
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: var(--secondary-color-highlight) var(--secondary-color);
    scrollbar-width: thin;
}

.database-table {
    width: 100%;
    color: var(--quarternary-color);
    border-collapse: separate; /* Separates the rows */
    border-spacing: 0 2px;
}

.database-table thead tr {
    background-color: var(--secondary-color); 
}

.database-table tbody tr {
    background-color: var(--tertiary-color); 
    margin-top: 2px;
}

.database-table thead tr:hover {
    background-color: var(--secondary-color); 
}

.database-table tbody tr:hover {
    background-color: var(--secondary-color-highlight);
}

.database-column-name:hover {
    background-color: var(--secondary-color-highlight);
}

td, th {
    width: 150px;
    border: none;
    padding: 20px 25px;
    text-align: center;
    position: relative;
}

.database-sort-icon {
    display: none;
    width: 20px;
    height: auto;
    position: absolute;
    right: 5px;
}

.database a {
    text-decoration: none;
}

.database-pill-box {
    display: none;
    justify-content: left;
    align-items: center;
    margin: 12px 0;
    padding: 0;
    color: var(--quarternary-color);
}

.database-filter-indicator {
    margin-right: 3px;
}

#database-filter-popup {
    display: none;
}

.database-auxiliary-content {
    display: flex;
    flex-direction: column; /* Keeps elements stacked vertically */
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    width: 100%;
    background-color: var(--secondary-color-highlight);
    min-height: calc(100vh - var(--navbar-height));
}

.database-auxiliary-content h1 {
    margin-bottom: 15px;
}

.database-highlight {
    background-color: var(--secondary-color);
}

/* TEMPLATES PAGE */
.templates-body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
    font-family: var(--font-secondary);
}

.templates-container {
    display: flex;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    justify-content: center; /* Centers content horizontally */
    padding-top: 0;
    margin-top: 0;
}

.templates-section {
    flex: 1; 
    min-width: 45%; /* Prevents sections from becoming too narrow */
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
}

.templates-delete-icon {
    cursor: pointer;
    color: gray;
    margin-left: 10px; /* Adds spacing from text */
    opacity: 0; /* Hide by default */
    transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
    position: absolute;
    right: 10px; /* Positions it to the far right */
}

.templates-scroll-container {
    max-height: 200px;
    overflow-y: auto;
}

.templates-table-container {
    overflow-y: auto; /* Enables scrolling */
    width: 100%; /* Ensures it takes up full width */
    position: relative;
}

.templates-table-container thead {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color); /* Adjust as needed */
    z-index: 2;
}

@media (max-height: 1000px) {
    .templates-table-container {
        max-height: 65vh;
    }
}

@media (max-height: 750px) {
    .templates-table-container {
        max-height: 60vh;
    }
}

@media (max-height: 600px) {
    .templates-table-container {
        max-height: 55vh;
    }
}

@media (max-height: 400px) {
    .templates-table-container {
        max-height: 200px;
    }
}

.templates-controls {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.templates-controls-left{
    display: flex;
    justify-content: left;
}

.templates-table {
    width: 100%;
    color: var(--quarternary-color);
    border-collapse: separate; /* Separates the rows */
    border-spacing: 0 2px;
}

.templates-table thead tr {
    background-color: var(--secondary-color); 
}

.templates-table tbody tr {
    background-color: var(--tertiary-color); 
    margin-top: 2px;
    position: relative;
}

.templates-table thead tr:hover {
    background-color: var(--secondary-color); 
}

.templates-table tbody tr:hover {
    background-color: var(--secondary-color-highlight);
}

.templates-table tbody tr:hover .templates-delete-icon {
    opacity: 1; /* Show on hover */
}

.templates-divider {
    height: 10px;
    width: 100%;
    background-color: var(--tertiary-color);
}

.template-selected{
    background-color: var(--primary-color-highlight);
}

#save-fields-btn, #revert-fields-btn{
    background-color: var(--secondary-color-highlight);
    color: var(--quarternary-color);
    border: 1px solid var(--primary-color);
}

#save-fields-btn:hover, #revert-fields-btn:hover{
    background-color: var(--primary-color);
}

.templates-field-row {
    cursor: grab;
}

.templates-field-row:active {
    cursor: grabbing;
}


.template-link{
    text-decoration: none;
    font-family: var(--font-secondary);
    color: var(--quarternary-color);
}

.template-selectable-row:hover{
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  
  .popup-content {
    background: var(--secondary-color-highlight);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    z-index: 101;
    max-height: 70vh; 
    overflow-y: auto;
    position: relative;
    align-items: center;
    align-content: center;
    padding: 40px;
  }

  .popup-button {
    font-family: var(--font-secondary);
    border: none;
    margin-top: 20px;
    min-width: 25vw;
    border-radius: 2.5%;
    padding: 5px;
  }

  .popup-button:hover {
    cursor: pointer;
  }

  .templates-select {
    border: none;
    outline: none;
    border-radius: 2.5%;
    font-family: var(--font-secondary);
    min-width: 25vw;
    padding: 10px;
}
  
  .close-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
    background: none; 
    border: none;
    color: #333; 
    font-size: 18px; 
    cursor: pointer;
}

.templates-popup-header {
    font-family: var(--font-primary);
    font-size: xx-large;
    font-weight: lighter;
    color: var(--quarternary-color);
}
  

/* IMPORT PAGE */
.import h1 {
    color: blue;
}

/* NEW TEMPLATE PAGE */
.new-template-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.new-template-header {
    font-family: var(--font-primary);
    text-align: center;
    align-self: center;
    color: var(--quarternary-color);
    font-weight: lighter;
    font-size: xx-large;
}

.new-template {
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: var(--secondary-color-highlight);
    font-family: var(--font-secondary);
}

.checkbox-wrapper {
    display: block; /* Forces checkboxes to stack vertically */
    margin-bottom: 5px; /* Adds spacing between checkboxes */
    position: absolute;
    margin-left: 10px; /* Adds spacing from text */
    left: 20%; /* Positions it to the far left */
}

.new-template-checkbox {
    transform: scale(1.2); /* Optional: Makes checkboxes slightly bigger */
    cursor: pointer; /* Ensures it's clearly clickable */
}

.new-template-button {
    font-family: var(--font-secondary);
    border: none;
    padding: 8px;
    margin: 0;
    border-radius: 2px;
}

.new-template-button:hover {
    cursor: pointer;
}

.new-template-controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

/* GENERATE REPORT PAGE */

#generate-report-title {
    margin: 20px;
}

@media (max-height: 700px) {
    #generate-report-title {
        font-size:xx-large;
    }
}

  /* Initially, the selector container will be centered in the body content */
  #generate-report-template-selector {
    margin-top: 10px auto;
    text-align: center;
    transition: margin-top 0.5s ease, all 0.5s ease;
    max-width: 800px;
  }
  /* After confirmation, slide it to the top of the body (just below the header) 
     and change layout to horizontal */
  #generate-report-template-selector.confirmed {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
    background-color: var(--secondary-color);
    padding: 30px;
    border-radius: 7px;
  }

  #template-confirm-button.confirmed {
    background-color: var(--secondary-color-highlight);
    color: var(--quarternary-color);
    border: 1px solid var(--primary-color);
    margin: auto;
  }

  .generate-report-templates-section {
    flex: 1; 
    min-width: 70%; /* Prevents sections from becoming too narrow */
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
}

