:root {
    /* Colors */
    --primary-color: #AEB3CE; /* purple */
    --primary-color-highlight: #A1A7C7;
    --secondary-color: #E8E8E8; /* light gray */
    --secondary-color-highlight: #F2F2F2;
    --tertiary-color: #ffffff; /* white */
    --quarternary-color: #747474; /* dark gray */

    /* Fonts */
    --font-primary: "Courier New", monospace; /* For titles */
    --font-secondary: "Open Sans", sans-serif;

    /* Margin */
    --horizontal-margin: 150px;

    /* Navigation Bar Height */
    --navbar-height: 60px;
}

body {
    padding: 0px;
    margin: 0;
    background-color: var(--secondary-color);
    font-family: var(--font-secondary);
}

/* SHARED COMPONENTS  */

.text {
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: var(--font-secondary);
}

.button {
    padding: 5px 20px;
    border-radius: 5px;
}

.button, .text {
    height: 20px;
    width: auto;
    margin: 2px;
    white-space: nowrap;
}

.button:hover, .pill-icon {
    cursor: pointer;
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--tertiary-color)
}

.primary-button:hover {
    background-color: var(--primary-color-highlight);
}

.secondary-button, .pill {
    background-color: var(--tertiary-color);
    color: var(--quarternary-color);
}

.secondary-button:hover {
    background-color: var(--secondary-color-highlight);
}

.pill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 2px;
}

.pill-icon {
    height: 15px;
    width: auto;
    margin-left: 10px;
}

/* NAVIGATION BAR */
.navbar {
    background-color: var(--primary-color);
}

.navbar-elements {
    margin: 0 var(--horizontal-margin);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
}

.navbar-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-name {
    font-family: var(--font-primary);
    font-size: 2rem;
    padding: 0 10px 0 0;
}

.navbar .navbar-heading img {
    height: 30px;
    width: auto;
}

.navbar-links {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    gap: 0rem;
    height: 100%;
    white-space: nowrap;
}

.navbar-links li {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}
.navbar-links li:hover {
    background-color: var(--primary-color-highlight);
    cursor: pointer;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
  }

/* MULTIPLE PAGES */
.database, .import, .templates, .auxiliary-content {
    margin: 0 var(--horizontal-margin);
}

/* AUXILIARY PAGES */

.auxiliary {
    position: relative;
}

.auxiliary-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color-highlight);
    min-height: calc(100vh - var(--navbar-height));
}

.auxiliary h1 { 
    margin: 0;
    font-family: var(--font-primary);
    color: var(--quarternary-color);
    font-size: 3rem;
    font-weight: 300;
}

.back-icon {
    width: 35px;
    height: auto;
    display: block;
    background-size: cover; 
    position: absolute;
    top: 5px;
    left: 5px;
}

/* DATABASE PAGE */

.database-controls {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 12px 0;
}

.database-controls-left{
    display: flex;
    justify-content: left;
}

.database-controls-right{
    display: flex;
    justify-content: right;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary-color);
}

.search-icon {
    height: 15px;
    width: auto;
    margin: 0 2.5px;
}

.database-divider {
    height: 10px;
    width: 100%;
    background-color: var(--tertiary-color);
}

.database-table-container { 
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: var(--secondary-color-highlight) var(--secondary-color);
    scrollbar-width: thin;
}

.database-table {
    width: 100%;
    color: var(--quarternary-color);
    border-collapse: separate; /* Separates the rows */
    border-spacing: 0 2px;
}

.database-table thead tr {
    background-color: var(--secondary-color); 
}

.database-table tbody tr {
    background-color: var(--tertiary-color); 
    margin-top: 2px;
}

.database-table thead tr:hover {
    background-color: var(--secondary-color); 
}

.database-table tbody tr:hover {
    background-color: var(--secondary-color-highlight);
}

.database-column-name:hover {
    background-color: var(--secondary-color-highlight);
}

td, th {
    width: 150px;
    border: none;
    padding: 20px 25px;
    text-align: center;
    position: relative;
}

.database-sort-icon {
    display: none;
    width: 20px;
    height: auto;
    position: absolute;
    right: 5px;
}

.database a {
    text-decoration: none;
}

.database-pill-box {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 12px 0;
    padding: 0;
    color: var(--quarternary-color);
}

.database-filter-indicator {
    margin-right: 3px;
}

/* TEMPLATES PAGE */
.templates h1 {
    color: green;
}

/* IMPORT PAGE */
.import h1 {
    color: blue;
}