{% extends "header.html" %}

{% block title %}Database Page{% endblock %}

{% block content %}
    {% if name %}
        <center><p>Hello {{name}}</p></center>
        <p>{{file_id}}</p>
    {% endif %}
    <div class="database" id="database">
        <div class="database-controls" id="database-controls">
            <div class="database-controls-left">
                <div class="search-container text">
                    <input class="text" type="text" id="database-search-term">
                    <img class="search-icon" src="static\icons\icon-search.png" alt="Search Icon">
                </div>
                <div class="button secondary-button" onclick="toggleFilterPopup()">ADD FILTER</div>
            </div>
            <div class="database-controls-right">
                <div class="button secondary-button" onclick="openDetailsPage()">DETAILS</div>
                <a href="{{ url_for('layout') }}"><div class="button secondary-button">LAYOUT</div></a>
                <a href="{{ url_for('delete_field') }}"><div class="button secondary-button">EDIT DATABASE</div></a>
                <div class="button primary-button" onclick="openGenerateReportPage()">GENERATE REPORT</div>
            </div>
        </div>

        <div class="database-pill-box" id="database-pill-box">
            <div class="database-filter-indicator">FILTERING ON: </div>
            <!-- pills go here -->
        </div>

        <div class="database-divider"></div>
        <div class="database-table-container">
            <table class="database-table">
                <thead>
                    <tr class="database-head">
                    </tr>
                </thead>
                <tbody id="database-body">
                </tbody>
            </table>
        </div>
    </div>

    <!-- FILTER POPUP -->
    <div id="database-filter-popup" class="auxiliary">
        <a onclick="toggleFilterPopup()" class="back-button"> <!-- Dynamic back link -->
            <img src="static/icons/icon-back.png" alt="Back" class="back-icon">
        </a>  
        <div class="database-auxiliary-content">                     
            <h1>NEW FILTER</h1>
            <select class="select" name="field" id="database-filter-field"></select>
            <select class="select" name="field" id="database-filter-value"></select>
            <div class="confirm-button" onclick="createFilter()">CONFIRM</div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="static/js/database.js"></script>  <!-- Default script -->
{% endblock %}