{% extends "header.html" %}

{% block title %}Database Page{% endblock %}

{% block content %}
    {% if name %}
        <center><p>Hello {{name}}</p></center>
        <p>{{file_id}}</p>
    {% endif %}
    <div class="database">
        <div class="database-controls">
            <div class="database-controls-left">
                <div class="search-container text">
                    <input class="text" type="text">
                    <img class="search-icon" src="static\icons\icon-search.png" alt="Search Icon">
                </div>
                <div class="button secondary-button" onclick="openFilterMenu()">ADD FILTER</div>
            </div>
            <div class="database-controls-right">
                <div class="button secondary-button" onclick="openDetailsPage()">DETAILS</div>
                <a href="{{ url_for('layout') }}"><div class="button secondary-button">LAYOUT</div></a>
                <div class="button secondary-button">EDIT DATABASE</div>
                <div class="button primary-button" onclick="openGenerateReportPage()">GENERATE REPORT</div>
            </div>
        </div>

        <div class="database-pill-box" id="database-pill-box">
            <div class="database-filter-indicator">FILTERING ON: </div>
            <div class="pill" id="ft/ptpt">
                <div class="pill-content">FT/PT:PT</div>
                <img class="pill-icon" src="/static/icons/icon-close.png" onclick="deletePill('ft/ptpt')">
            </div>
            <div class="pill" id="fnamealyssa">
                <div class="pill-content">FNAME:ALYSSA</div>
                <img class="pill-icon" src="/static/icons/icon-close.png" onclick="deletePill('fnamealyssa')">
            </div>
        </div>

        <div class="database-divider"></div>
        <div class="database-table-container">
            <table class="database-table">
                <thead>
                    <tr class="database-head">
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="static/js/database.js"></script>  <!-- Default script -->
{% endblock %}