<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SusanDB</title>
  <link rel="stylesheet" href="static\css\style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
</head>
<body class="{{session['color_scheme']}}">
  <ul class="title-bar-buttons pywebview-drag-region">
    <li><a href="{{ url_for('minimize') }}" class="title-bar-button">&#128469;</a></li>
    <li><a href="{{ url_for('shrink') }}" class="title-bar-button">&#128471;</a></li>
    <li><a href="{{ url_for('logout_from_x') }}" class="title-bar-button">&#10006;</a></li>
  </ul>

  <nav class="navbar pywebview-drag-region">
    <div class="navbar-elements">
      <div class="navbar-heading">
        <div class="navbar-name">SusanDB</div>
        <img src="static\icons\icon-nurse.png" alt="nurse icon">
        <img src="static\icons\icon-db.png" alt="database icon">
        <ul class="navbar-links">
          <li><a href="{{ url_for('database') }}">DATABASE</a></li>
          {% if session["mode"] != "view" %}
            <li><a href="{{ url_for('import_data') }}">IMPORT DATA</a></li>
          {% endif %}
          <li><a href="{{ url_for('templates') }}" id="templates-link">TEMPLATES</a></li>
          {% if session["mode"] != "view" %}
              <li><a href="{{ url_for('admin') }}">ADMIN</a></li>
          {% endif %}
        </ul>
      </div>
      <ul class="navbar-links">
        <li><a href="{{ url_for('logout') }}" id="logout-link">LOGOUT</a></li>
      </ul>
    </div>
  </nav>
  {% if session["mode"] == "view" %}
      <div class="view-mode-icon">
        <img src="static\icons\icon-search.png" width="50px">
      </div>
  {% endif %}

  <div id="loading-overlay" class="loading-overlay">
    <div class="loading-spinner"></div>
  </div>

  {% block content %}{% endblock %}
  
  <script>
    const loading = document.getElementById("loading-overlay");
    const templatesLink = document.getElementById('templates-link');
    const logoutLink = document.getElementById('logout-link');
    templatesLink.addEventListener('click', function(event) {
        // Show the loading overlay when the TEMPLATES link is clicked
        loading.style.display = 'flex';
    });
    logoutLink.addEventListener('click', function(event) {
        // Show the loading overlay when the LOGOUT link is clicked
        loading.style.display = 'flex';
    });
  </script>

  {% block script %}{% endblock %}
</body>
</html>
