<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SusanDB</title>
  <link rel="stylesheet" href="static\css\style.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-elements">
      <div class="navbar-heading">
        <div class="navbar-name">SusanDB</div>
        <img src="static\icons\icon-nurse.png" alt="nurse icon">
        <img src="static\icons\icon-db.png" alt="database icon">
      </div>
      <ul class="navbar-links">
        <li><a href="{{ url_for('database') }}">DATABASE</a></li>
        <li><a href="{{ url_for('import_data') }}">IMPORT DATA</a></li>
        <li><a href="{{ url_for('templates') }}">TEMPLATES</a></li>
        <li><a href="#logout">LOGOUT</a></li>
      </ul>
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>
