{% extends "header.html" %}

{% block content %}
<!--New Field Pop-Up-->
<div id="field-popup" class="popup-overlay" style="display: none;">
  <div class="popup-content">
      <button class="close-button" onclick="closeFieldPopup()">x</button>
      <h3 class="templates-popup-header">Add New Field</h3>
      <select class="templates-select" id="new-field-select">
          <option value="">-- Select Field --</option>
      </select>
      <div>
          <button class="primary-button popup-button" onclick="addNewField()">Confirm</button>
      </div>
  </div>
</div>

  <!--Rest of the Page-->
  <div class="templates-container">
    <div class="templates-section">
      <div class="templates-controls">
        <div class="templates-controls-left">
          <a href="{{ url_for('new_template') }}" style="text-decoration: none;">
            <div id="new-template-btn" class="button primary-button">NEW TEMPLATE</div>
          </a>
        </div>
      </div>
      <div class="templates-divider"></div>
      <div class="templates-table-container">
        <table class="templates-table">
          <thead>
            <tr>
              <th>SAVED TEMPLATES</th>
            </tr>
          </thead>
          <tbody>
            {% for template_name, _ in templates_dict.items() %}
              <tr id="template-{{template_name}}" class="template-selectable-row" onclick="loadTemplateFields('{{ template_name }}')">
                <td>
                  <span class="template-name">{{ template_name }}</span>
                  {% if session["mode"] != "view" %}
                      <span class="templates-delete-icon" onclick="delete_template('{{ template_name }}')">🗑️</span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="templates-section" id="fields-section" style="display: none;">
      
      <div class="templates-controls">
        <div class="templates-controls-left">
          <div id="new-field-btn" class="button primary-button" onclick="openFieldPopup()">NEW FIELD</div>
        </div>
      </div>
      
      <div class="templates-divider"></div>
      <div class="templates-table-container">
        <table class="templates-table">
          <thead>
            <tr>
              <th id="template-name-header">FIELDS</th>
            </tr>
          </thead>
          <tbody id="template-fields-body"  class="sortable">
            <!-- Fields will be loaded here dynamically -->
          </tbody>
        </table>
      </div>
      <div class="templates-controls">
        <div class="templates-controls-right">
            <div id="save-fields-btn" class="button primary-button" style="display: none;" onclick="saveTemplateChanges()">
              SAVE
            </div>
            <div id="revert-fields-btn" class="button primary-button" style="display: none;" onclick="revertTemplateChanges()">
              REVERT
            </div>
        </div>
    </div>
  </div>

  <!--FOR SCRIPT VARIABLES!!-->
  <div id="template-data"
     data-session-mode="{{ session['mode'] }}"
     data-templates='{{ templates_dict | tojson | safe }}'
     data-fields='{{ all_fields | tojson | safe }}'>
  </div>

  <script src="/static/js/templates.js"></script>

{% endblock %}
