{% extends 'auxiliary.html' %}

{% block title %}Add Field Page{% endblock %}

{% block content %}

<input id="add-field-name" class="text-input" type="text" placeholder="Name of New Field">
<input id="add-field-default" class="text-input" type="text" placeholder="Default Field Value">
<label for="add-to-layout">
    <input id="add-field-layout" type="checkbox" name="add-to-layout">
    Add Field to Database Layout
</label>
<div class="confirm-button" onclick="addNewField()">CONFIRM</div>

{% endblock %}

{% block script %}
<script src="static/js/edit-database.js"></script>  <!-- Default script -->
{% endblock %}