{% extends 'auxiliary.html' %}

{% block title %}Details Page{% endblock %}

{% block content %}

<div class="details">
    <div id="details-upload-button" class="button primary-button">UPLOAD FILE</div>
    <div class="details-fields" id="details-fields">
        <table class="details-table">
            <tbody id="details-table">

            </tbody>
        </table>
    </div>
    <div class="details-files" id="details-files">
        <div class="details-files-header">FILES</div>
        <div class="details-file-icons">
            <div class="details-file">
                <div class="details-file-icon">
                    <img src="static/icons/icon-file.png" alt="File">
                </div>
                <div class="details-file-name">transcript.png</div>
            </div>
            <div class="details-file">
                <div class="details-file-icon">
                    <img src="static/icons/icon-file.png" alt="File">
                </div>
                <div class="details-file-name">exampledocument.png</div>
            </div>
            <div class="details-file">
                <div class="details-file-icon">
                    <img src="static/icons/icon-file.png" alt="File">
                </div>
                <div class="details-file-name">transcript.png</div>
            </div>
            <div class="details-file">
                <div class="details-file-icon">
                    <img src="static/icons/icon-file.png" alt="File">
                </div>
                <div class="details-file-name">transcript.png</div>
            </div>
            <div class="details-file">
                <div class="details-file-icon">
                    <img src="static/icons/icon-file.png" alt="File">
                </div>
                <div class="details-file-name">transcript.png</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="static/js/details.js"></script>
{% endblock %}